.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.banner{
    background-image: url(images/IMG_2702.JPG);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
    color: #FFED23;
    font-family: "Helvetica Neue", Helvetica;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    line-height: 90px;
    letter-spacing: 2px;
    text-shadow: 0px 5px 8px #000000;
    opacity: 1;
    padding-left: 0px;
    padding-right: 0px;
    font-size: xx-large;
    max-height: 470px;
}
.banner .col-12 h1 {
    font-size: xx-large;
    text-shadow: 0 0px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #000000;
    opacity: 1;
    border-radius: 20px;
}
.aboutus-banner{
    background-image: url("images/IMG_2734.JPG");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
    color: #FFED23;
    font-family: "Helvetica Neue", Helvetica;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    line-height: 90px;
    letter-spacing: 2px;
    text-shadow: 0px 5px 8px #000000;
    opacity: 1;
    padding-left: 0px;
    padding-right: 0px;
    font-size: xx-large;
    max-height: 300px;
}
.aboutus-banner .col-12 h1 {
    font-size: xx-large;
    text-shadow: 0 0px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #000000;
    opacity: 1;
    border-radius: 20px;
}
.food-banner{
	background-image: url("images/IMG_2698.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
    color: #FFED23;
    font-family: "Helvetica Neue", Helvetica;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    line-height: 90px;
    letter-spacing: 2px;
    text-shadow: 0px 5px 8px #000000;
    opacity: 1;
    padding-left: 0px;
    padding-right: 0px;
    font-size: xx-large;
    max-height: 300px;
}
.food-banner .col-12 h1 {
    font-size: xx-large;
    text-shadow: 0 0px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #000000;
    opacity: 1;
    border-radius: 20px;
}
.parks-banner{
	background-image: url("images/IMG_2679.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
    color: #FFED23;
    font-family: "Helvetica Neue", Helvetica;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    line-height: 90px;
    letter-spacing: 2px;
    text-shadow: 0px 5px 8px #000000;
    opacity: 1;
    padding-left: 0px;
    padding-right: 0px;
    font-size: xx-large;
    max-height: 300px;
}
.parks-banner .col-12 h1 {
    font-size: xx-large;
    text-shadow: 0 0px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #000000;
    opacity: 1;
    border-radius: 20px;
}
.parks-heron-banner{
	background-image: url("images/IMG_2095.JPG");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
    color: #FFED23;
    font-family: "Helvetica Neue", Helvetica;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    line-height: 90px;
    letter-spacing: 2px;
    text-shadow: 0px 5px 8px #000000;
    opacity: 1;
    padding-left: 0px;
    padding-right: 0px;
    font-size: xx-large;
    max-height: 300px;
}
.parks-heron-banner .col-12 h1 {
    font-size: xx-large;
    text-shadow: 0 0px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #000000;
    opacity: 1;
    border-radius: 20px;
}
.parks-brookside-banner{
    background-image: url("images/IMG_2682.JPG");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
    color: #FFED23;
    font-family: "Helvetica Neue", Helvetica;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    line-height: 90px;
    letter-spacing: 2px;
    text-shadow: 0px 5px 8px #000000;
    opacity: 1;
    padding-left: 0px;
    padding-right: 0px;
    font-size: xx-large;
    max-height: 300px;
b}
.parks-brookside-banner .col-12 h1 {
    font-size: xx-large;
    text-shadow: 0 0px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #000000;
    opacity: 1;
    border-radius: 20px;
}
.pois-banner{
	background-image: url("images/IMG_2664.JPG");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
    color: #FFED23;
    font-family: "Helvetica Neue", Helvetica;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    line-height: 90px;
    letter-spacing: 2px;
    text-shadow: 0px 5px 8px #000000;
    opacity: 1;
    padding-left: 0px;
    padding-right: 0px;
    font-size: xx-large;
    max-height: 300px;
}
.pois-banner .col-12 h1 {
    font-size: xx-large;
    text-shadow: 0 0px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #000000;
    opacity: 1;
    border-radius: 20px;
}
.pois-townhall-banner{
	background-image: url("images/IMG_2670.JPG");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
    color: #FFED23;
    font-family: "Helvetica Neue", Helvetica;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    line-height: 90px;
    letter-spacing: 2px;
    text-shadow: 0px 5px 8px #000000;
    opacity: 1;
    padding-left: 0px;
    padding-right: 0px;
    font-size: xx-large;
    max-height: 300px;
}
.pois-townhall-banner .col-12 h1 {
    font-size: xx-large;
    text-shadow: 0 0px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #000000;
    opacity: 1;
    border-radius: 20px;
}
.pois-bricklane-banner{
	background-image: url("images/IMG_2710.JPG");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
    color: #FFED23;
    font-family: "Helvetica Neue", Helvetica;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    line-height: 90px;
    letter-spacing: 2px;
    text-shadow: 0px 5px 8px #000000;
    opacity: 1;
    padding-left: 0px;
    padding-right: 0px;
    font-size: xx-large;
    max-height: 300px;
}
.pois-bricklane-banner .col-12 h1 {
    font-size: xx-large;
    text-shadow: 0 0px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #000000;
    opacity: 1;
    border-radius: 20px;
}
.events-banner{
	background-image: url("images/IMG_2674.JPG");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
    color: #FFED23;
    font-family: "Helvetica Neue", Helvetica;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    line-height: 90px;
    letter-spacing: 2px;
    text-shadow: 0px 5px 8px #000000;
    opacity: 1;
    padding-left: 0px;
    padding-right: 0px;
    font-size: xx-large;
    max-height: 300px;
}
.events-banner .col-12 h1 {
    font-size: xx-large;
    text-shadow: 0 0px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #000000;
    opacity: 1;
    border-radius: 20px;
}
.accessibility-banner{
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
    position: relative;
    color: #FFED23;
    font-family: "Helvetica Neue", Helvetica;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    line-height: 90px;
    letter-spacing: 2px;
    text-shadow: 0px 5px 8px #000000;
    opacity: 1;
    padding-left: 0px;
    padding-right: 0px;
    font-size: xx-large;
    max-height: 300px;
}
.accessibility-banner .col-12 h1 {
    font-size: xx-large;
    text-shadow: 0 0px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #000000;
    opacity: 1;
    border-radius: 20px;
}
.btn-primary {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.banner .btn-primary {
    display: block;
    margin: 0 auto;
}
.jumbotron.text-center.mt-2 .container .row p {
    padding-top: 12px;
    font-family: sans-serif, monospace, Terminal;
}
.banner > div > img {
  width: 100%;
}
.container .row h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-variant: normal;
    font-weight: lighter;
    text-align: center;
    font-size: 28px;
}
.title-header{
    position: absolute; /* set the text as an absolute position */
    top: 50%; /* move the text 50% down from the top */
    left: 50%; /* move the text 50% from the left */
    transform: translate(-50%, -50%); /* center the text */
    color: white; /* set the color of the text */
    text-align: center; /* center-align the text */
    z-index: 1; /* set the text above the image */
    width: auto;
    height: 0px;
    background: #D2DEE9;
    background-size: auto;
	background z-index: 1;
    letter-spacing: 82px;
}
.navbar {
    font-family: "fira-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: sticky;
	background-color: #343A40;
    top: 0;
    z-index: 999;
    height: 50px;
}
.navbar-collapse.show {
    background-color: #343A40;
}
.navbar-collapse.collapsing {
    background-color: #343A40;
}
.page-title {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-style: normal;
    font-variant: normal;
    letter-spacing: 4px;
    font-size: 45px;
    padding-top: 40px;
    top: 0px;
}
.row .col-12 p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
.row .col-12 .offset-xl-0.col-xl-12 {
    padding-top: 0px;
    position: absolute;
    top: 26px;
    margin-top: -7px;
    text-shadow: 0px 0px;
    text-transform: none;
    letter-spacing: 4px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 12px;
    box-shadow: 0px 0px 12px;
    text-align: center;
}
.row {
    padding-top: 5px;
    padding-bottom: 5px;
}
.container .row h2 {
    margin-top: 13px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: 900;
}
.div .div h2 {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.btn.btn-primary.btn-lg {
    margin-left: 40px;
}
.btn.btn-outline-success.my-2.my-sm-0 {
    padding-left: 30px;
    padding-right: 30px;
}
.jumbotron div {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-top: 0px;
}
.jumbotron.background {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
}
.row .col-12 .img-fluid {
    max-height: 272px;
}
.catch {
    margin-top: 14px;
    margin-bottom: 14px;
}
.card.col-md-4.col-xl-12 .img-fluid {
    max-width: 637px;

}
.h1  {
    text-align: center;
}

.h2 {
    text-align: center;
}

.d-block.mx-auto {
    max-height: 70%;
    max-width: 70%;
}
.carousel {
}


@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.5em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 2px solid #000000;
  }
}
.card-img-sm {
    max-height: 34%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
